nifi.web.https.port=${NIFI_WEB_HTTPS_PORT}
nifi.web.https.host=${NIFI_WEB_HTTPS_HOST}
nifi.security.user.login.identity.provider=single-user-provider
nifi.security.user.authorizer=single-user-authorizer

# Core Properties
nifi.flow.configuration.file=./conf/flow.xml.gz
nifi.flowcontroller.autoResumeState=true
nifi.flowcontroller.graceful.shutdown.period=10 sec
nifi.flowservice.writedelay.interval=500 ms

# Web Properties
nifi.web.jetty.working.directory=./work/jetty

# Security Properties
nifi.security.keystore=./conf/keystore.jks
nifi.security.keystoreType=JKS
nifi.security.keystorePasswd=${NIFI_KEYSTORE_PASSWORD}
nifi.security.keyPasswd=${NIFI_KEY_PASSWORD}
nifi.security.truststore=./conf/truststore.jks
nifi.security.truststoreType=JKS
nifi.security.truststorePasswd=${NIFI_TRUSTSTORE_PASSWORD}

# Content Repository Properties
nifi.content.repository.implementation=org.apache.nifi.controller.repository.FileSystemRepository
nifi.content.repository.directory.default=./content_repository

# Component Status Repository Properties
nifi.components.status.repository.implementation=org.apache.nifi.controller.status.history.VolatileComponentStatusRepository

# Provenance Repository Properties
nifi.provenance.repository.implementation=org.apache.nifi.provenance.WriteAheadProvenanceRepository
nifi.provenance.repository.directory.default=./provenance_repository