nifi.web.https.port=${NIFI_WEB_HTTPS_PORT}
nifi.web.https.host=${NIFI_WEB_HTTPS_HOST}
nifi.security.user.login.identity.provider=single-user-provider
nifi.security.user.authorizer=single-user-authorizer